<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>departName</key>
		<string>妇产科</string>
		<key>departClass</key>
		<array>
			<dict>
				<key>className</key>
				<string>妇科门诊</string>
				<key>classDoctor</key>
				<array>
					<string>龙初盘</string>
					<string>盘龙出</string>
					<string>潘楚龙</string>
				</array>
			</dict>
			<dict>
				<key>className</key>
				<string>产科门诊</string>
				<key>classDoctor</key>
				<array>
					<string>秋微</string>
					<string>微球</string>
					<string>秋闱</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>departClass</key>
		<array>
			<dict>
				<key>className</key>
				<string>耳鼻喉科</string>
				<key>classDoctor</key>
				<array>
					<string>long</string>
					<string>pan</string>
					<string>chu</string>
				</array>
			</dict>
		</array>
		<key>departName</key>
		<string>耳鼻喉科</string>
	</dict>
	<dict>
		<key>departName</key>
		<string>内科</string>
		<key>departClass</key>
		<array>
			<dict>
				<key>className</key>
				<string>心血管内科门诊</string>
				<key>classDoctor</key>
				<array>
					<string>秋位</string>
					<string>肖申克</string>
					<string>阿龙</string>
				</array>
			</dict>
			<dict>
				<key>className</key>
				<string>内分泌科门诊</string>
				<key>classDoctor</key>
				<array>
					<string>秋位</string>
					<string>肖申克</string>
					<string>阿龙</string>
				</array>
			</dict>
			<dict>
				<key>className</key>
				<string>呼吸内科门诊</string>
				<key>classDoctor</key>
				<array>
					<string>李玉龙</string>
					<string>李玉亮</string>
					<string>鲤鱼亮</string>
				</array>
			</dict>
			<dict>
				<key>className</key>
				<string>肾内科门诊</string>
				<key>classDoctor</key>
				<array>
					<string>秋位</string>
					<string>肖申克</string>
					<string>阿龙</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>departName</key>
		<string>疼痛科</string>
		<key>departClass</key>
		<array>
			<dict>
				<key>className</key>
				<string>针灸科门诊</string>
				<key>classDoctor</key>
				<array>
					<string>秋位</string>
					<string>肖申克</string>
					<string>阿龙</string>
				</array>
			</dict>
			<dict>
				<key>classDoctor</key>
				<array>
					<string>秋位</string>
					<string>肖申克</string>
					<string>阿龙</string>
				</array>
				<key>className</key>
				<string>理疗科门诊</string>
			</dict>
			<dict>
				<key>classDoctor</key>
				<array>
					<string>秋位</string>
					<string>肖申克</string>
					<string>阿龙</string>
				</array>
				<key>className</key>
				<string>按摩科门诊</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
